.logo {
    text-align: right;
  }
.top-nav-button {
    margin: -2px;
    padding: 15px;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: 'Montserrat';
}
.side-tab-button {
    transform: rotate(
-90deg
) translateX(-20px);
    margin: 34px 30px 30px 30px;
    padding: 15px;
    border: 1px solid #fff;
    font-family: 'Montserrat';
    font-size: 13px;
}